
/* removing default style */
*{
  padding: 0;
  margin: 0;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container{
  width: 90vw; 
  height: 550px;
  margin: auto;
  border: 1.5px solid #000;
  margin-top: 50px;
  position: relative;
}

.game{
  width: 100%; 
  height: 500px;
  position: absolute;
  background-image: url('assets/fb-game-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bird{
  border-radius: 50%; 
  width: 60px;
  height: 60px;
  position: absolute;
  left: 150px;
  bottom: 280px;
}
.ground {
  height: 50px;
  width: 100%;
  background-image: url('assets/bottom-background.png');
  background-position: center;
  background-size: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 500px;
}

/* media query */
/* @media only screen and (min-width: 1080px) {
  .bird{
    width: 100px;
    bottom: 180px;
    left: 250px;
  }
  
} */
